# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "csh.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "robot1"
driver
( 
  name "stage"
  provides [ "position2d:0" "laser:0" ]
  model "robot1" 
)

driver
(
  name "lasertoranger"
  requires ["laser:0"]
  provides ["ranger:0"]
)
